body {
  margin: 0;
  overflow: hidden;
  background: #000;
}
canvas {
  display: block;
}
#overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

#share-container {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 20;
  padding: 10px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 0.3s ease-in-out;
}

#share-button {
  cursor: pointer;
  display: block;
}
